@import url('../../component/dialog/dialog.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f5f7;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('/background/background.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); /* reduced from 0.5 to 0.2 for visibility */
}
