@import url('https://fonts.googleapis.com/css2?family=Codec+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('./common/layout.css');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html, body {
    margin: 0;
    padding: 0;
}



body {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.title {
    font-size: 30px;
    line-height: 38.41px;
    font-family: "Libertinus Mono", monospace;
    font-weight: bold;
    margin-bottom: 0px;
    animation: fadeInUp 0.8s ease-out forwards, typing 2s steps(10, end) forwards, blink 0.75s step-end infinite;
    opacity: 0;
    text-shadow: 2px 2px 6px rgba(64, 192, 255, 0.9);
    text-align: center;
    letter-spacing: 1px;

    background: #ffffff;
   /* background: linear-gradient(90deg, #41A6FF, #18F4FF); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0; /* 처음엔 안 보이게 */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: typing 2s steps(10, end) forwards, blink 0.75s step-end infinite;
  font-weight: inherit;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

section.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

article {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
    margin: 5vh auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 80px 60px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
    transition: transform 0.3s ease;
}

.inputBox {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    width: 100%;

    position: relative;
}

.inputBox label {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: #000000;
}
.inputBox input {
    font-size: 15px;
    color: #000000;
    line-height: 16.8px;
    width: 100%;
    padding: 16px 18px;
    border-radius: 6px;
    border: 1px solid transparent; /* default invisible border */
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.inputBox input:focus {
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inputBox input.error {
    border: 1px solid red;
}

.inputBox input[type='text'] {
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간을 차지하도록 함 */
    padding-right: 10px; /* 오른쪽에 Lottie 애니메이션을 위한 공간 확보 */
}
.inputBox .lottie {
    position: absolute;
    right: 10px; /* 입력 필드 오른쪽 끝에서 10px 떨어진 위치 */
    top: 50%; /* 상단에서 50% 위치 */
    transform: translateY(-50%);
    width: 20px; /* Lottie 애니메이션 크기, 필요에 따라 조정 */
    height: 20px; /* Lottie 애니메이션 크기, 필요에 따라 조정 */
}

.inputBox input[type='file'] {
    border: none;
    padding: 8px 0px;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}

.custom-file-label {
    display: inline-block;
    width: auto;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: right;
}

.custom-file-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputBox > .helperText {
    position: absolute;
    bottom: -4px;
    transform: translate(0, 100%);


    color: #f00;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 42px;
    gap: 12px;
}
.buttons p {
    margin-bottom: 4px;
    color: #f00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-start;
}
.buttons button,
a {
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-button {
    background-color: rgba(135, 206, 235, 1);
    color: #ffffff;
    font-weight: 800;
    border-radius: 2px;
    border: 1px solid rgba(135, 206, 235, 0.3);
    height: 40px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2f2c2b;
}

.buttons a {
    color: #222222;
    font-weight: 600;
    text-decoration: underline;
}

.deleteFile {
    cursor: pointer;
    padding-left: 10px;
    color: red;
}

#toastContainer {
    position: fixed;
    top: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 20px;
    z-index: 100;
}

.toastMessage {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 30px;
}

.profileUploadContainer {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.profileUploadContainer input[type='file'] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profileUploadButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* 버튼이 보이도록 반투명 배경 */
    color: white; /* 텍스트 색상 */
    padding: 5px 10px; /* 텍스트 주변에 적절한 여백을 제공 */
    border: 2px solid white; /* 테두리 색상 설정 */
    cursor: pointer; /* 커서 스타일 */
    text-align: center; /* 텍스트 중앙 정렬 */
    white-space: nowrap; /* 텍스트가 한 줄로 나오도록 설정 */
    border-radius: 20px; /* 버튼의 모서리를 둥글게 */
}
#profilePreview {
    width: 100%; /* 컨테이너에 맞춰 이미지 크기 조절 */
    height: 100%; /* 컨테이너에 맞춰 이미지 크기 조절 */
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section.wrap {
    background-image: url('/background/background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
 
.signup-page .inputBox {
    margin-bottom: 20px;
}
.email-check-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

#emailCheckBtn {
    padding: 6px 10px;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
    height: 48px; /* match the input height */
}

#email {
    flex-grow: 1;
}

.signup-button {
    background-color: rgba(135, 206, 235, 0.8);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    height: 45px;
    transition: background-color 0.3s ease;
}


header {
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 40px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    font-family: 'Noto Sans', sans-serif;
}

header .logo {
    width: 42px;
    height: 42px;
    margin-top: 0;
    margin-bottom: 10px;
    background-image: url('/public/image/communitylogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

header h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.4rem;
    margin: 60px 0 40px 0;
    text-align: center;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
    color: #141414;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

header h1:hover {
    color: #298DFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

header .back {
    rid-area: lbtn;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

header .profile {
    grid-area: rbtn;
    position: relative;
    margin-bottom: 15px;
}

header .profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

header .drop {
    position: absolute;
    top: -20px;
    left: 100%;
    margin-left: 8px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 110px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .drop a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

header .drop a:hover {
    background: #e9e9e9;
}

.none {
    display: none !important;
}